<p id="border">panel works!</p>
<!-- <app-detailsonpanel routerLink="../viewdelivery//viewdetailsofdelivery"></app-detailsonpanel>
<app-detailsonpanel routerLink="../viewdelivery//viewdetailsofdelivery" ></app-detailsonpanel>
<app-detailsonpanel routerLink="../viewdelivery//viewdetailsofdelivery"></app-detailsonpanel>
<app-detailsonpanel routerLink="../viewdelivery//viewdetailsofdelivery"></app-detailsonpanel> -->
<div app-detailsonpanel routerLink="../viewdelivery//viewdetailsofdelivery"></div>
<div app-detailsonpanel routerLink="../viewdelivery//viewdetailsofdelivery"></div>
<div app-detailsonpanel routerLink="../viewdelivery//viewdetailsofdelivery"></div>
<div app-detailsonpanel routerLink="../viewdelivery//viewdetailsofdelivery"></div>


